@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;1,500&display=swap");
* {
  font-family: "Ubuntu", sans-serif;
  overflow: hidden;
}
body {
  background: #210124;
  background: rgb(33, 1, 36);
  background: linear-gradient(
    127deg,
    rgba(33, 1, 36, 1) 27%,
    rgba(117, 13, 55, 1) 72%
  );
  background-size: 150% 150%;
  animation: move 6000ms ease-in-out infinite;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b3dec1;
}
.sub-container {
  background: rgb(33, 1, 36);
  background: linear-gradient(
    302deg,
    rgba(33, 1, 36, 1) 27%,
    rgba(117, 13, 55, 1) 72%
  );
  width: 70%;
  border-radius: 3vh;
  height: 90vh;
  position: inherit;
  justify-content: center;
  align-items: center;
}
@keyframes move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.admin {
  visibility: hidden;
}

.admin.show {
  visibility: visible;
}

.edit {
  visibility: hidden;
}

.edit.show {
  visibility: visible;
}

.addmem {
  visibility: hidden;
}
.addmem.show {
  visibility: visible;
}

.removemem {
  visibility: hidden;
}
.removemem.show {
  visibility: visible;
}

.check {
  visibility: hidden;
}
.check.show {
  visibility: visible;
}
