<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/edit_room.css" />
    <title>Edit</title>
  </head>
  <body>
    <h1>{{message}}</h1>
    <form method="post">
      Room Name:<input type="text" name="room_name" value="{{ room.name }}" />

      <!--adding members-->
      <button type="button" onclick="add_mem()">Add members</button>
      <div class="addmem">
        Add Members:
        <input
          type="text"
          name="addmember"
          id="addmem"
          placeholder="enter the username..... "
        />
      </div>

      <!--Removing members-->
      <button type="button" onclick="remove_mem()">Remove Members</button>
      <div class="removemem">
        Remove Members:

        <select id="selected">
          {% for member in members %}
          <option id="username">{{member._id.username}}</option>
          {% endfor %}
        </select>
        <button type="button" onclick="username()">Check</button>
        <div class="check">
          Are you sure:<input type="text" name="rem" id="rem_mem" readonly />
        </div>
      </div>

      <!--Make or remove member as Admin-->
      <button type="button" id="admins" onclick="show()">
        Make/Remove Admin
      </button>
      <div class="admin">
        Remove admin:
        <select name="removeAdmin" id="ra">
          <option></option>
          {% for admin in admins %}
          <option>{{admin}}</option>
          {% endfor %}
        </select>
        Make Admin:
        <select name="makeAdmin" id="ma">
          <option></option>
          {% for notadmin in not_admin %}
          <option>{{notadmin}}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit">Submit</button>
    </form>
    <button><a href="/rooms/{{room_id}}"> Go back to chat</a></button>

    <script>
      show = () => {
        const admin = document.querySelector(".admin");
        admin.classList.add("show");
      };
      editIt = () => {
        let edit = document.getElementById("em");
        const edit_field = document.querySelector(".edit");
        let field = document.getElementById("edit");
        field.value = edit.value;
        edit_field.classList.add("show");
      };

      add_mem = () => {
        const add_mem = document.querySelector(".addmem");
        add_mem.classList.add("show");
      };

      remove_mem = () => {
        const add_mem = document.querySelector(".removemem");
        add_mem.classList.add("show");
      };
      username = () => {
        let select_but = document.querySelector(".check");
        let field = document.getElementById("rem");
        let member = document.getElementById("selected");

        field.value = member.value;
        select_but.classList.add("show");
      };
    </script>
  </body>
</html>
