<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/edit_room.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">


  <title>Edit Room</title>
</head>
<body>
  <div class="container">
    <div class="sub-container">
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog " id="modal">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Successful!!</h5>
              <button type="button" class="close" data-dismiss="modal" style="color:black;" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h1>{{message}}</h1>
            </div>
            <div class="modal-footer">

            <button type="button" id="moda-button2" class="btn btn-secondary" data-dismiss="modal">Try again</button>
            <button type="button" id="moda-button" class="btn btn-primary" data-dismiss="modal" onclick="window.location.href='/signup'" >Sign Up</button>
            </div>

        </div>
      </div>
    </div>

    <form method="post">
      Room Name:<input type="text" name="room_name" value="{{ room.name }}" />  
      <div class="add-members">
        <button type="button" onclick="add_mem()">Add members</button>
      <div class="addmem">
      <input type="text" name='addmember' id='addmem' placeholder="enter the username..... ">
    </div>
      </div>
      <div class="remove-members">
        <button type='button' onclick="remove_mem()">Remove Members</button>
        <div class="removemem">
          Remove Members:
          <ul>
            {% for member in members %}
            <li>{{member._id.username}}</li>
            {% endfor %}
          </ul>
          Enter the username:
          <input type="text" name="remove_user" id="ru" autocomplete="off" />
        </div>


      </div>
      <div class="admin-toggle">
        <button type="button" id="admins" onclick="show()">
          Make/Remove Admin
        </button>

         
          <div class="admin">
            Remove admin:
            <select name="removeAdmin" id="ra">
              <option></option>
              {% for admin in admins %}
              <option>{{admin}}</option>
              {% endfor %}
            </select>
            Make Admin:
            <select name="makeAdmin" id="ma">
              <option></option>
              {% for notadmin in not_admin %}
              <option>{{notadmin}}</option>
              {% endfor %}
            </select>
          </div>

        <button type="submit">Submit</button>
        </form>
      </div>
      <button><a href="/rooms/{{room_id}}"> Go back to chat</a></button>
    </div>
  </div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<script>
  // if message not null show modal
  show = () => {
        const admin = document.querySelector(".admin");
        admin.classList.add("show");
      };
      /* editIt = () => {
        let edit = document.getElementById("em");
        const edit_field = document.querySelector(".edit");
        let field = document.getElementById("edit");
        field.value = edit.value;
        edit_field.classList.add("show");
      }; */

      add_mem = () => {
        const add_mem = document.querySelector(".addmem");
        add_mem.classList.add("show");
      };

      remove_mem = () => {
        const add_mem = document.querySelector(".removemem");
        add_mem.classList.add("show");
      };
</script>
</body>
</html>
