<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Centigrade ChatRoom</title>
  </head>
  <body>
    <div class="container">
      <form action="/chat" class="myForm">
        <label for="username">Username</label>
        <input
          type="text"
          name="username"
          placeholder="your name..."
          required
        />
        <!-- <div class="pass">
                <label >Password</label>
                <input type="password" name="pswd" id="pswd" placeholder="Your Password" required>               
            </div> -->
        <label>Room</label>
        <select name="room" id="room">
          <option value="Admin">Room1(Admin)</option>
          <option value="room2">Room2</option>
          <option value="room3">Room3</option>
        </select>
        <button type="submit">Join Chat</button>
      </form>
    </div>
  </body>
</html>
