<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Centigrade ChatRoom</title>
  </head>
  <body>
    <h3>
      hi {% if current_user.is_authenticated %}{{current_user.username}} {% else
      %} Guest{% endif %}<button style="margin-left: 200px; margin-top: 0" onclick="logout()">Log out</button>
    </h3>

    <div class="container">
      
        
      </button>
      <form action="/chat" class="myForm">
        <label for="username">Username</label>
        <input
          type="text"
          name="username"
          placeholder="your name..."
          required
        />
        <label>Room</label>
        <select name="room" id="room">
          <option value="Admin">Room1(Admin)</option>
          <option value="room2">Room2</option>
          <option value="room3">Room3</option>
        </select>
        <button type="submit">Join Chat</button>
      </form>
    </div>
  </body>
  <script>
    logout = () => {
      window.location.href = "{{url_for('logout')}}";
    };
  </script>
</html>
