<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/css/signup.css" />
    <title>Signup</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
  <body>
    <div class="container">
      <p>{{message}}</p>
      <form action="/signup" id="myForm" method="POST">
        <label>Username</label><br />
        <input
          type="text"
          name="username"
          id="username"
          placeholder="Enter your username"
          autocomplete="off"
          required
        />
        <i class="fa fa-user" aria-hidden="true"></i>
        <br />
        <br />
        <label>Email Address</label>
        <input
          type="text"
          name="email_address"
          id="email"
          placeholder="Enter your EmailAddress"
          autocomplete="off"
          required
        />
        <label>Create_Password</label><br />
        <input
          type="password"
          name="password"
          id="pswrd"
          placeholder="password"
          required
        />
        <i class="fas fa-eye" onclick="show()"></i>
        <br />
        <br />

        <button type="submit" onclick="checkPassword()">Submit</button>
      </form>
    </div>
    <script src="../static/js/signup.js"></script>

    <button id="button1"><a href="/login"> Go back to login</a></button>
  </body>
</html>
